# Biblioteki (najważniejsze - tego nie wysyłamy!)
node_modules/
frontend/node_modules/
backend/node_modules/
backend/*.sql

.env
backend/.env
frontend/.env
frontend/.env.production
frontend/.env.development

.idea/
.vscode/

Thumbs.db
.DS_Store
build/
dist/
